.notification {
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  background: green;
  color: white;
}

.error {
  background: red;
  color: white;
}
